@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/Proxima\ Nova\ Font.otf') format('truetype');
  }
  

/* Utilities */

:root{

    /* Fonts */
    --font1: 'Oswald', sans-serif;
    --font2: 'Proxima', sans-serif


    /* Colors */
    --primaryColor:"";

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* Navbar */

nav{
    width:100%;
    /* border:1px solid black; */
    background-color: red;
    margin:auto;
}
.navbarContainer{
    width:1200px;
    /* border:1px solid red; */
    margin:auto;
}
.upperDiv{
    display:flex;
    margin:auto;
    /* border:1px solid white; */
}

.navMenu{
    display:flex;
    align-items: end;
    margin: 15px 18px;
    width:720px;
    margin:auto;
    margin-bottom:5px;
}
.navMenu ul{
    display: flex;
    list-style: none;
    color: white;
    /* border: 1px solid red; */
    margin:auto;
    text-align: end;
}

.navMenu>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin:10px 0px;
    padding:0px 10px;
    display: flex;
}
 
 /* *{
            margin:0px;
            padding: 0px;
            box-sizing: border-box;
        } */
        #parent{
            display:grid;
            justify-content: center;
            text-align: center;
 
         }
         #form{
            display:grid;
            justify-content: center;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-top:10px;
            
         }
         #form>input{
             width: 200px;
             height:50px;
             border-radius: 5px;
             margin-left: 20px;
             margin-right: 20px;
             border:1px solid grey;
             font-size: 20px;
             margin:auto;
             margin-top:30px;
             margin-bottom:30px;
             
         }
         #inner{
             text-align: left;
             margin-left: 20px;
             margin-right: 20px;
         }
         #inner> input{
             width: 500px;
             height:40px;
             border-radius: 5px;
             border:1px solid grey;
             font-size: 20px;
             padding: 5px 10px;
             margin:10px 0px;
         }

         #continue:hover{
            cursor:pointer;
            background-color: red;
            border: 1px solid white;
            color:white
         }
        